  <nav class="header_area header_2">
        <div class="nav-wrapper">
            <a href="index.html" class="brand-logo"><img src="images/logo.png" alt=""></a>
            <ul class="left_menu hide-on-med-and-down"> 
                <!-- <li><a href="#">About membership</a></li>  -->
            </ul>

            <ul class="right right_menu hide-on-med-and-down">
                <!-- <li class="search_min">
                   <div class="search_from"> 
                        <input placeholder="Search Here" type="text">
                        <a href="#" class="search_icon"><i class="ion-ios-search"></i></a> 
                   </div>
                </li> -->
                 <li><a href="#post_modal" class="waves-effect btn post_btn modal-trigger"><i class="ion-plus"></i><span>Add Post</span></a></li> 
                    <!-- Follow feed -->
                    <li class="notifications follow"><a class="dropdown-button" href="#!" data-activates="dropdown4"><i class="ion-ios-person-outline"></i><b class="n-number">7</b></a>
                    
                <#<#if (usuario??)>
                    
                    <#<#else/>
                <li><a href="#modal1" class="waves-effect btn post_btn modal-trigger">Iniciar</a></li>   

                </#if>
            </ul>
          
        </div>
    </nav>